# Amit Fallach
# linkedin - https://www.linkedin.com/in/amitfallach

In [1]:
! pip install requests
import pandas as pd
import numpy as np
#from google.colab import drive
#drive.mount('/content/drive')
import requests
import json

Requirement already satisfied: requests in c:\users\amitf\anaconda3\lib\site-packages (2.28.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amitf\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\amitf\anaconda3\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amitf\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\amitf\anaconda3\lib\site-packages (from requests) (1.25.9)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip
C:\Users\amitf\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
url_distance = 'https://maps.googleapis.com/maps/api/distancematrix/json'
url_geo = 'https://maps.googleapis.com/maps/api/geocode/json'
api_key = 'AIzaSyChLhBasOp6ai2nMR5fhDH30qdsGt6xf88'
path = 'C:\\Users\\amitf\\Desktop\\amit\\כריית נתונים מתקדמת בפייתון\\מטלות\\מטלה 3\\dests.txt'
with open(path, 'r') as f:
    destinations = f.read().splitlines()

In [3]:
data = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration_min', 'Longitude', 'Latitude'])

In [4]:
for city in destinations:
    
    url1 = f'{url_distance}?units=metric&origins=Tel+Aviv&destinations={city}&key={api_key}'
    response1 = requests.get(url1).json()
    distance_km = response1['rows'][0]['elements'][0]['distance']['value'] / 1000 
    duration_min = response1['rows'][0]['elements'][0]['duration']['value'] / 60
    
    url2 = f'{url_geo}?address={city}&key={api_key}'
    response2 = requests.get(url2).json()
    longitude = response2['results'][0]['geometry']['location']['lng']
    latitude = response2['results'][0]['geometry']['location']['lat']
    
    data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

<ipython-input-4-4f31846344df>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-4-4f31846344df>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-4-4f31846344df>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-4-4f31846344df>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-4-4f31846344df>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'Target': city, 'Distance_km': distance_km, 'Duration_min': duration_min, 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

In [5]:
data

      Target  Distance_km  Duration_min  Longitude   Latitude
0   Istanbul     1815.227   1262.866667  28.978359  41.008238
1  Amsterdam     4532.619   2885.333333   4.904139  52.367573
2   Valletta     3792.877   3051.250000  14.514100  35.899237
3      Basel     4092.812   2642.383333   7.588576  47.559599
4       Doha     2164.477   1358.783333  51.531040  25.285447

In [17]:
data = data.sort_values(['Distance_km'],ascending=False).reset_index(drop=True)
max_distance = data.iloc[:3]
max_distance

      Target  Distance_km  Duration_min  Longitude   Latitude
0  Amsterdam     4532.619   2885.333333   4.904139  52.367573
1      Basel     4092.812   2642.383333   7.588576  47.559599
2   Valletta     3792.877   3051.250000  14.514100  35.899237

### 3 cities with max distance

In [19]:
max_distance[['Target']]

      Target
0  Amsterdam
1      Basel
2   Valletta